*,
*::before,
*::after {
  box-sizing: border-box;
  background-color: #333333;
  color: aliceblue;
}

body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
